<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      /* background: linear-gradient(120deg, #007acc, #0f9d58);  */
      background: linear-gradient(120deg, #12C2E9, #F64F59);
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 3em;
      margin: 0.5em 0;
    }
  </style>
</head>
<body>
  <div>
    <h1>{{ site.title }}</h1>
  </div>
</body>
</html>
